@charset "utf-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
del,
dfn,
em,
font,
img,
ins,
q,
small,
strike,
strong,
sub,
sup,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
footer,
header,
article,
aside,
canvas,
nav,
section,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    background: transparent;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    outline: 0;
    padding: 0;
    margin: 0;
}

article,
footer,
header,
menu,
nav,
section,
aside,
canvas {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

a:focus {
    outline: none;
}

blockquote {
    quotes: none;
}

blockquote:before,
blockquote:after {
    content: '';
    content: none;
}

table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    border: none;
    border-collapse: collapse;
    border-spacing: 0;
    vertical-align: middle;
    margin: 0;
    padding: 0;
}

* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-text-size-adjust: none;
}

body {
    height: 1024px;
    height: 768px;
    overflow: hidden;
    position: relative;
    margin: 0;
    padding: 0;
}

#background {
    width: 1024px;
    height: 768px;
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: aliceblue;
    color: #fff;
}

.block1, .block2, .block3 {
    padding: 20px;
    width: 29%;
    height: 383px;
    position: relative;
}

.block1 {
    float: left
}
.block2 {
    float: left
}
.block3 {
    float: right
}

.box1, .box2, .box3, .box4, .box5, .box6, .box7, .box8 {
    width: 100px;
    height: 130px;
    margin: 10px;
    display: inline-table;
    border-radius: 12px;
    text-align: center;
    padding-top: 20px; 
    position: absolute;
}
.box1 {
    background-color: purple;
}

.box2 {
    background-color: #0095ff;
    right: 40px;
}

.box3 {
    background-color: orange;
    left: 21px;
    bottom: 47px;
}

.box4 {
    background-color: red;
    bottom: 47px;
    right: 40px;
}

.box5 {
    background-color: #800023;
    display: none;
}

.box6 {
    background-color: #090973;
    right: 40px;
}

.box7 {
    background-color: #ff778f;
    bottom: 47px;
}

.box8 {
    background-color: #c13e00;
    bottom: 47px;
    right: 40px;
}

.act1, .act2, .act3, .act4 {
    width: 100px;
    height: 60px;
    display: inline-table;
    margin: 10px;
    border-radius: 12px;
    text-align: center;
    padding-top: 20px; 
}   

.act1, .act2 {
    background-color: green;
}


.act3, .act4 {
    background-color: #c7c742;
}

.act1:active ~ .box1 {
    color: #fff;
}